{% extends "views/layout.nunjucks" %}

{% block body %}
  <h1>Welcome to my blog</h1>
  <h2>Fuck yeah, so proud</h2>
  <h3>This shit is powered by SailsJs</h3>
  <h4>With &hearts;...</h4>

  <h5>List of users : </h5>
  <ul>
    {% for user in users %}
      <li>{{ user.firstName }}</li>
    {% endfor %}
  </ul>

<hr>
<h2>Sign Up</h2>

{% if newUserSignedUp %}
  <div class="well well-info">
      New user created with success !
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <form method="post" action="/user">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>
{% endblock %}
